// contacto
// formulario contacto
.section__contacto--container {
    background-color: $color-terciario;
    border-radius: 1rem;
    padding: 2rem 0;
    color: $color-primario;

}

.section__contacto--map {
    width: 100%;
}

.section__contacto--grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-column-start: 1;
    gap: 10px;
}
// each
/*each generacion redes sociales linea 312*/
@each $redes-sociales in facebook, instagram, pinteres, whatsapp {
    .#{$redes-sociales}-logo {
        background-image: url('../logo/#{$redes-sociales}.png');
    }
}
.section__contacto--container-redes{
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}
.section__contacto--redes {
    width: 20rem;
    box-shadow: 0 0 1rem whitesmoke;
}
// for ejemplo
/* for ejemplo paleta de colores*/
.section__contacto--paleta{
    border-radius: 1rem;
    display: flex;
    background-color: white;
    .color {
        height: 120px;
        width: 8.33333% !important;
        
    }
}
/*no funcina metodo col-12 para lo que quiero hacer, ya que los valores no tiene un %unico todos varias por ello varian los tamaños*/
@for $i from 1 through 12 {
    .color-#{$i} {
        width: 100% / 12 * $i;
    }
}
@for $i from 1 through 12 {
    .color:nth-child(#{$i}) {
        background-color: lighten(blue, $i * 4) !important;
    }
}
