// contacto
// formulario contacto
.section__contacto {
    padding-top: 2rem;
}
.section__contacto--container {
    background-color: $color-terciario;
    border-radius: 1rem;
    padding: 2rem 0;
    color: $color-primario;

}

.section__contacto--map {
    width: 100%;
}

.section__contacto--grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-column-start: 1;
    gap: 1rem;
}
// each
/*each generacion redes sociales linea 312*/
@each $redes-sociales in facebook, instagram, pinteres, whatsapp {
    .#{$redes-sociales}-logo {
        background-image: url('../logo/#{$redes-sociales}.png');
    }
}
.section__contacto--container-redes{
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
}
.section__contacto--redes {
    width: 20rem;
    box-shadow: 0 0 1rem whitesmoke;
}
