.footer {
    width: 100%;
    padding: 1rem 3rem;
    background-color: #01131F;
    display: flex;
    justify-content: space-between;
}

.footer__p {
    color: whitesmoke;
    font-size: 15px;
}

.footer__icon a {
    font-size: 20px;
    color:snow;
    text-decoration: none;
}