.footer {
    width: 100%;
    padding: 1rem 3rem;
    background-color: #01131F;
    display: flex;
    justify-content: space-between;
}

.footer__p {
    color: whitesmoke;
    font-size: 15px;
}

.footer__icon a {
    font-size: 25px;
    color:snow;
    text-decoration: none;
    padding: 0 0.2rem;
}
.footer__icon a:hover {
    font-weight: bold;
    color: teal
}