// index
// section 1
.section__titulos {
    color: $color-primario;
    text-align: center;
    font-weight: bold;
    padding: 0 0 1rem 0;
}
.section__titulos--1{
    color: $color-secundario;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0 0 0;
    font-size: 50px;
    font-family: 'Merienda', cursive;
}
.section__subtitulos {
    color: $color-terciario;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1rem;
}
.section__titulos--container {
    background-color: $fondo-terciario;
    box-shadow: 10px 10px 30px 5px rgba(12, 4, 4, 0.582);
}
// index card
.section__index {
    padding-top: 2rem;
}
.section__index--card {
    padding-bottom: 2rem;
}
.section__card--2{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/23/20/26/earth-2003760_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem !important;
    color: $color-primario !important;
    font-weight: bold;
    .card-header {
        font-size: 30px;
    }
}
.section__card--2img {
    background-image: url(https://ak.picdn.net/shutterstock/videos/32696686/thumb/1.jpg?ip=x480);
        a{
            text-decoration: none;
            color: $color-primario;
        }
    a:hover {
        color: rgb(112, 173, 175);
    }
}
.section__video-container {
    margin-top: 2rem;
}
/*info*/
.section__info {
    padding: 1rem 0 2rem 0;
}
.section__info--container {
    background-color: $color-terciario;
    padding: 2rem 0;
    color: $color-primario;
    border-radius: 2rem;
}
.section__info--button{
    background-color: $fondo-secundario !important;
    border-radius: 1rem;
    width: 100%;
    color: $color-primario;
    font-size: 1.6rem;
}
.section__info--accordion .accordion-body{
    background-color: $fondo-secundario !important;
    border-radius: 1rem;
}
