// section pagos
.section__pago {
    padding-bottom: 1rem;
}
.section__pago--form {
    background-color: $color-terciario;
    border-radius: 1rem;
    color: whitesmoke;
    padding: 1rem 1rem;
    .row {
        padding: 1rem 0;
        text-align: left;
    }
    .section__pago--comentario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section__contacto--tc {
        padding-bottom: 3rem;
    }
    .section__contacto--file {
        padding-bottom: 3rem;
        i {
            font-size: 30px;
        }
    }
    .section__contacto--button {
        display: flex;
        align-items: center;
        .boton {
            width: 100px !important;
        }
    }
}