// section pagos
.section__pago {
    padding-top: 2rem;
}
.section__pago--bottom {
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
}
.section__pago--payicon {
    display: flex;
    justify-content: space-between;
    .section__pago--payicontainer img {
        width: 40vh;
    }
}
.section__pago--form {
    background-color: $color-terciario;
    border-radius: 1rem;
    color: whitesmoke;
    padding: 1rem 1rem;
    .row {
        padding: 1rem 0;
        text-align: left;
    }
    .section__pago--comentario {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section__contacto--tc {
        padding-bottom: 3rem;
    }
    .section__contacto--file {
        display: flex;
        justify-content: center;
        input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        label {
            font-size: 16px;
        }
        padding-bottom: 3rem;
        i {
            font-size: 30px;
        }
    }
    .section__contacto--file:hover {
        color: $fondo-terciario;
        font-weight: bold;
    }
    .section__contacto--button {
        display: flex;
        align-items: center;
        .boton {
            width: 100px !important;
        }
    }
}